.listItemWrapper {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 60px;
  align-items: center;
}

.list-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  margin: 10px 0 0 20px;
  z-index: -1;
  opacity: 0;
}

.list-checkbox + label {
  position: relative;
  left: 15px;
  top: 0;
  padding: 0 20px 0 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.list-checkbox + label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
}

.list-checkbox + label:hover::before {
  border-color: #5dc2af;
}

.list-checkbox + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
}

.list-checkbox:checked + label::before {
  background: #fff;
  border-color: rgba(93, 194, 175, 0.5);
}

.list-checkbox:checked + label::after {
  content: '\2713';
  color: #5dc2af;
  font-size: 26px;
}

input[type="checkbox"]:checked ~ span {
  color: gray;
  text-decoration: line-through;
}

.text-editing {
  box-shadow: inset 1px -1px 3px 0 #dbdbdb;
  border: 1px solid #4d4d4d;
  min-height: 60px;
  font-size: 20px;
  margin-left: 54px;
  width: inherit;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 20px;
  color: #4d4d4d;
}

.text-editing:focus {
  outline: none;
}
